{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <h2>Ваша корзина</h2>
    {% if cart_items %}
        <div class="cart-items">
            {% for item in cart_items %}
                <div class="cart-item">
                    {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                        <img src="{% static 'img/buqiet.png' %}" alt="Без изображения">
                    {% endif %}
                    <h3>{{ item.product.name }}</h3>
                    <p class="price">{{ item.product.price }} руб.</p>
                    <a href="{% url 'remove_from_cart' item.product.id %}" class="btn">Удалить</a>
                </div>
            {% endfor %}
        </div>
        <p class="total-price">Итого: {{ total_price }} руб.</p>
        <a href="{% url 'checkout' %}" class="btn">Оформить заказ</a>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
{% endblock %}