{% extends 'shop/base.html' %}

{% load static %}

{% block title %}{{ product.name }} - Магазин цветов{% endblock %}

{% block content %}
    <div class="product-detail">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
            <img src="{% static 'products/buqiet.png' %}" alt="Без изображения">
        {% endif %}
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p class="price">{{ product.price }} руб.</p>
        <a href="{% url 'add_to_cart' product.id %}" class="btn">В корзину</a>
        <a href="{% url 'index' %}" class="btn">Назад</a>
    </div>
{% endblock %}